.table {

    &__area {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            bottom: -25px;
            left: 0;
            width: 100%;
            background: url('../img/bg/wave-bg.png');
            height: 140%;
            z-index: -1;
            @include background();

            @media #{$lg} {
                height: 132%;
            }
        }
    }

    &__content {
        & #example {
            padding: 0rem 0 2rem 0;
        }
    }
}